#s-a25ed841-cfda-45e9-a98f-e90a53335205 > #backgroundBox {
  position: absolute;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 > #alignmentBox {
  position: relative;
  max-width: 390.0px;
  max-height: 844.0px;
  width: 100%;
  height: 100%;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #s-Rectangle_35 {
  position: absolute;
  width: 375.0px;
  min-height: 33.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  mix-blend-mode: darken;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #s-Rectangle_35 > .borderLayer {
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #F2F2F2;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #s-Rectangle_35 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #s-Rectangle_35 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #s-Rectangle_35 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #s-Rectangle_35 span#rtr-s-Rectangle_35_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #s-Image_54 {
  position: absolute;
  width: 14.0px;
  height: 11.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #s-Image_55 {
  position: absolute;
  width: 10.0px;
  height: 10.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #s-Image_57 {
  position: absolute;
  width: 21.0px;
  height: 11.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #s-Text_32 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular_wgt400',Arial;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #s-Text_32 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #s-Text_32 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #s-Text_32 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #s-Text_32 span#rtr-s-Text_32_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #s-Text_33 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular_wgt400',Arial;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #s-Text_33 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #s-Text_33 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #s-Text_33 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #s-Text_33 span#rtr-s-Text_33_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #s-Rectangle_40 {
  position: absolute;
  width: 389.9999999999997px;
  min-height: 813.0000000000002px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #s-Rectangle_40 > .backgroundLayer {
  border-top-left-radius: 0.0px;
  border-top-right-radius: 0.0px;
  border-bottom-right-radius: 40.0px;
  border-bottom-left-radius: 40.0px;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #s-Rectangle_40 > .backgroundLayer > .colorLayer {
  background-color: rgba(28,28,28,0.04);
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #s-Rectangle_40 > .borderLayer {
  border-top-left-radius: 0.0px;
  border-top-right-radius: 0.0px;
  border-bottom-right-radius: 40.0px;
  border-bottom-left-radius: 40.0px;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #s-Rectangle_40 > .backgroundLayer {
  border-top-left-radius: 0.0px;
  border-top-right-radius: 0.0px;
  border-bottom-right-radius: 40.0px;
  border-bottom-left-radius: 40.0px;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #s-Rectangle_40 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #s-Rectangle_40 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #s-Rectangle_40 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #s-Rectangle_40 span#rtr-s-Rectangle_40_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #s-Rect_8 {
  position: absolute;
  width: 135.0px;
  height: 5.0px;
  z-index: 100;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #s-Button_1 {
  position: absolute;
  width: 145.0000000000006px;
  min-height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular_wgt400',Arial;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: #282828;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #s-Button_1 > .borderLayer {
  border-top-width: 0.0px;
  border-top-style: solid;
  border-top-color: #282828;
  border-right-width: 0.0px;
  border-right-style: solid;
  border-right-color: #282828;
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #282828;
  border-left-width: 0.0px;
  border-left-style: solid;
  border-left-color: #282828;
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #s-Button_1 .paddingLayer {
  padding-top: 3px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #s-Paragraph_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular_wgt400',Arial;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #s-Paragraph_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #s-Paragraph_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #s-Paragraph_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 8.0pt;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 8.0pt;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #s-Button_2 {
  position: absolute;
  width: 142.9947814941403px;
  min-height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular_wgt400',Arial;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #s-Button_2 > .backgroundLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #s-Button_2 > .backgroundLayer > .colorLayer {
  background-color: #282828;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #s-Button_2 > .borderLayer {
  border-top-width: 0.0px;
  border-top-style: solid;
  border-top-color: #282828;
  border-right-width: 0.0px;
  border-right-style: solid;
  border-right-color: #282828;
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #282828;
  border-left-width: 0.0px;
  border-left-style: solid;
  border-left-color: #282828;
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #s-Button_2 > .backgroundLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #s-Button_2 .paddingLayer {
  padding-top: 3px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #s-Button_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #s-Button_2 span#rtr-s-Button_2_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #s-Input_2 input::-webkit-input-placeholder {
  color: #B2B2B2;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #s-Input_2 input::-moz-placeholder {
  color: #B2B2B2;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #s-Input_2 input:-moz-placeholder {
  color: #B2B2B2;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #s-Input_2 input:-ms-input-placeholder {
  color: #B2B2B2;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #s-Input_2 {
  position: absolute;
  width: 305.9999999999999px;
  height: 592.9677419354844px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #s-Input_2 .valign {
  vertical-align: middle;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #s-Input_2 input {
  color: #B2B2B2;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light_wgt200',Arial;
  font-size: 10.5pt;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #s-Input_2 > .backgroundLayer {
  border-top-left-radius: 0.0px;
  border-top-right-radius: 0.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #s-Input_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #s-Input_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-top-left-radius: 0.0px;
  border-top-right-radius: 0.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #s-Input_2 > .backgroundLayer {
  border-top-left-radius: 0.0px;
  border-top-right-radius: 0.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #s-Input_2 .paddingLayer {
  padding-top: 3px;
  padding-right: 7px;
  padding-bottom: 2px;
  padding-left: 17px;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #s-Paragraph_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular_wgt400',Arial;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #s-Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #s-Paragraph_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #s-Paragraph_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #s-Input_3 input::-webkit-input-placeholder {
  color: #B2B2B2;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #s-Input_3 input::-moz-placeholder {
  color: #B2B2B2;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #s-Input_3 input:-moz-placeholder {
  color: #B2B2B2;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #s-Input_3 input:-ms-input-placeholder {
  color: #B2B2B2;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #s-Input_3 {
  position: absolute;
  width: 306.0px;
  height: 46.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #s-Input_3 .valign {
  vertical-align: middle;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #s-Input_3 input {
  color: #B2B2B2;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light_wgt200',Arial;
  font-size: 10.5pt;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #s-Input_3 > .backgroundLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 0.0px;
  border-bottom-left-radius: 0.0px;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #s-Input_3 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #s-Input_3 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 0.0px;
  border-bottom-left-radius: 0.0px;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #s-Input_3 > .backgroundLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 0.0px;
  border-bottom-left-radius: 0.0px;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #s-Input_3 .paddingLayer {
  padding-top: 3px;
  padding-right: 7px;
  padding-bottom: 2px;
  padding-left: 17px;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #s-Paragraph_3 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular_wgt400',Arial;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #s-Paragraph_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #s-Paragraph_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #s-Paragraph_3 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #s-Category_1 .icon {
  background-image: url('../../images/a830596c-addd-4aef-876f-67c5d9b325b2.svg');
  background-size: auto;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #s-Category_1 .value {
  margin-right: 14.0px;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 .s-Category_1 .line_options.selected {
  background-color: #000000 !important;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 .s-Category_1 .selected > .options {
  color: #FFFFFF !important;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 .s-Category_1 .line_options:hover {
  background-color: #000000 !important;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 .s-Category_1 .line_options:hover > .options {
  color: #FFFFFF !important;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #s-Category_1 > .dropdown-options {
  width: calc(100%);
  height: calc(100%);
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #s-Category_1 {
  position: absolute;
  width: 46.99999999999994px;
  height: 35.20856486736972px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  mix-blend-mode: luminosity;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 11.25pt;
  vertical-align: middle;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #s-Category_1 > .backgroundLayer {
  border-top-left-radius: 17.60428243368483px;
  border-top-right-radius: 17.60428243368483px;
  border-bottom-right-radius: 17.60428243368483px;
  border-bottom-left-radius: 17.60428243368483px;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #s-Category_1 > .borderLayer {
  border-top-left-radius: 17.60428243368483px;
  border-top-right-radius: 17.60428243368483px;
  border-bottom-right-radius: 17.60428243368483px;
  border-bottom-left-radius: 17.60428243368483px;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #s-Category_1 > .backgroundLayer {
  border-top-left-radius: 17.60428243368483px;
  border-top-right-radius: 17.60428243368483px;
  border-bottom-right-radius: 17.60428243368483px;
  border-bottom-left-radius: 17.60428243368483px;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #s-Category_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 9px;
  padding-bottom: 0px;
  padding-left: 12px;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #shapewrapper-s-Ellipse_1 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #shapewrapper-s-Ellipse_1 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #shapewrapper-s-Ellipse_1 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #s-Ellipse_1 {
  width: 15.0px;
  height: 15.0px;
  min-height: 15.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #shapewrapper-s-Ellipse_1 > .backgroundLayer > .colorLayer {
  background-color: rgba(3,64,0,0.32);
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #shapewrapper-s-Ellipse_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #shapewrapper-s-Ellipse_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #shapewrapper-s-Ellipse_1 span#rtr-s-Ellipse_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #shapewrapper-s-Ellipse_2 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #shapewrapper-s-Ellipse_2 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #shapewrapper-s-Ellipse_2 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #s-Ellipse_2 {
  width: 15.0px;
  height: 15.0px;
  min-height: 15.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #shapewrapper-s-Ellipse_2 > .backgroundLayer > .colorLayer {
  background-color: rgba(176,156,1,0.32);
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #shapewrapper-s-Ellipse_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #shapewrapper-s-Ellipse_2 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #shapewrapper-s-Ellipse_2 span#rtr-s-Ellipse_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #shapewrapper-s-Ellipse_3 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #shapewrapper-s-Ellipse_3 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #shapewrapper-s-Ellipse_3 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #s-Ellipse_3 {
  width: 15.0px;
  height: 15.0px;
  min-height: 15.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #shapewrapper-s-Ellipse_3 > .backgroundLayer > .colorLayer {
  background-color: rgba(163,0,0,0.32);
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #shapewrapper-s-Ellipse_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #shapewrapper-s-Ellipse_3 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #shapewrapper-s-Ellipse_3 span#rtr-s-Ellipse_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #shapewrapper-s-Ellipse_4 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #shapewrapper-s-Ellipse_4 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #shapewrapper-s-Ellipse_4 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #s-Ellipse_4 {
  width: 15.0px;
  height: 15.0px;
  min-height: 15.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #shapewrapper-s-Ellipse_4 > .backgroundLayer > .colorLayer {
  background-color: rgba(176,156,1,0.32);
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #shapewrapper-s-Ellipse_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #shapewrapper-s-Ellipse_4 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #shapewrapper-s-Ellipse_4 span#rtr-s-Ellipse_4_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #s-Rectangle_1 {
  position: absolute;
  width: 589.0000000000002px;
  min-height: 13.99999999999983px;
  -webkit-transform: rotate(90.0deg);
  -moz-transform: rotate(90.0deg);
  transform: rotate(90.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Light_wgt200',Arial;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #s-Rectangle_1 > .backgroundLayer {
  border-top-left-radius: 1.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 0.0px;
  border-bottom-left-radius: 1.0px;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #F3F3F3;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #s-Rectangle_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-top-left-radius: 1.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 0.0px;
  border-bottom-left-radius: 1.0px;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #s-Rectangle_1 > .backgroundLayer {
  border-top-left-radius: 1.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 0.0px;
  border-bottom-left-radius: 1.0px;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #s-Rectangle_1 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Light_wgt200',Arial;
  font-size: 10.0pt;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'OpenSans-Light_wgt200',Arial;
  font-size: 10.0pt;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #s-Rectangle_2 {
  position: absolute;
  width: 62.0px;
  min-height: 14.0px;
  -webkit-transform: rotate(90.0deg);
  -moz-transform: rotate(90.0deg);
  transform: rotate(90.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Light_wgt200',Arial;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #s-Rectangle_2 > .backgroundLayer {
  border-top-left-radius: 6.0px;
  border-top-right-radius: 6.0px;
  border-bottom-right-radius: 6.0px;
  border-bottom-left-radius: 6.0px;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: rgba(40,40,40,0.35);
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #s-Rectangle_2 > .borderLayer {
  border-top-left-radius: 6.0px;
  border-top-right-radius: 6.0px;
  border-bottom-right-radius: 6.0px;
  border-bottom-left-radius: 6.0px;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #s-Rectangle_2 > .backgroundLayer {
  border-top-left-radius: 6.0px;
  border-top-right-radius: 6.0px;
  border-bottom-right-radius: 6.0px;
  border-bottom-left-radius: 6.0px;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #s-Rectangle_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #s-Rectangle_2 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Light_wgt200',Arial;
  font-size: 10.0pt;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'OpenSans-Light_wgt200',Arial;
  font-size: 10.0pt;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #shapewrapper-s-Ellipse_5 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #shapewrapper-s-Ellipse_5 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #shapewrapper-s-Ellipse_5 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #s-Ellipse_5 {
  width: 15.0px;
  height: 15.0px;
  min-height: 15.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #shapewrapper-s-Ellipse_5 > .backgroundLayer > .colorLayer {
  background-color: rgba(3,64,0,0.32);
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #shapewrapper-s-Ellipse_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #shapewrapper-s-Ellipse_5 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #shapewrapper-s-Ellipse_5 span#rtr-s-Ellipse_5_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #shapewrapper-s-Ellipse_6 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #shapewrapper-s-Ellipse_6 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #shapewrapper-s-Ellipse_6 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #s-Ellipse_6 {
  width: 15.0px;
  height: 15.0px;
  min-height: 15.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #shapewrapper-s-Ellipse_6 > .backgroundLayer > .colorLayer {
  background-color: rgba(176,156,1,0.32);
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #shapewrapper-s-Ellipse_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #shapewrapper-s-Ellipse_6 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #shapewrapper-s-Ellipse_6 span#rtr-s-Ellipse_6_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #shapewrapper-s-Ellipse_8 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #shapewrapper-s-Ellipse_8 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #shapewrapper-s-Ellipse_8 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #s-Ellipse_8 {
  width: 15.0px;
  height: 15.0px;
  min-height: 15.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #shapewrapper-s-Ellipse_8 > .backgroundLayer > .colorLayer {
  background-color: rgba(1,176,176,0.32);
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #shapewrapper-s-Ellipse_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #shapewrapper-s-Ellipse_8 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #shapewrapper-s-Ellipse_8 span#rtr-s-Ellipse_8_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #shapewrapper-s-Ellipse_9 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #shapewrapper-s-Ellipse_9 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #shapewrapper-s-Ellipse_9 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #s-Ellipse_9 {
  width: 15.0px;
  height: 15.0px;
  min-height: 15.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #shapewrapper-s-Ellipse_9 > .backgroundLayer > .colorLayer {
  background-color: rgba(163,0,0,0.32);
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #shapewrapper-s-Ellipse_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #shapewrapper-s-Ellipse_9 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #shapewrapper-s-Ellipse_9 span#rtr-s-Ellipse_9_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #shapewrapper-s-Ellipse_11 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #shapewrapper-s-Ellipse_11 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #shapewrapper-s-Ellipse_11 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #s-Ellipse_11 {
  width: 15.0px;
  height: 15.0px;
  min-height: 15.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #shapewrapper-s-Ellipse_11 > .backgroundLayer > .colorLayer {
  background-color: rgba(3,64,0,0.32);
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #shapewrapper-s-Ellipse_11 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #shapewrapper-s-Ellipse_11 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #shapewrapper-s-Ellipse_11 span#rtr-s-Ellipse_11_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #shapewrapper-s-Ellipse_12 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #shapewrapper-s-Ellipse_12 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #shapewrapper-s-Ellipse_12 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #s-Ellipse_12 {
  width: 15.0px;
  height: 15.0px;
  min-height: 15.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #shapewrapper-s-Ellipse_12 > .backgroundLayer > .colorLayer {
  background-color: rgba(92,1,176,0.32);
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #shapewrapper-s-Ellipse_12 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #shapewrapper-s-Ellipse_12 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #shapewrapper-s-Ellipse_12 span#rtr-s-Ellipse_12_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #shapewrapper-s-Ellipse_13 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #shapewrapper-s-Ellipse_13 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #shapewrapper-s-Ellipse_13 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #s-Ellipse_13 {
  width: 15.0px;
  height: 15.0px;
  min-height: 15.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #shapewrapper-s-Ellipse_13 > .backgroundLayer > .colorLayer {
  background-color: rgba(3,64,0,0.32);
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #shapewrapper-s-Ellipse_13 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #shapewrapper-s-Ellipse_13 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #shapewrapper-s-Ellipse_13 span#rtr-s-Ellipse_13_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #shapewrapper-s-Ellipse_14 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #shapewrapper-s-Ellipse_14 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #shapewrapper-s-Ellipse_14 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #s-Ellipse_14 {
  width: 15.0px;
  height: 15.0px;
  min-height: 15.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #shapewrapper-s-Ellipse_14 > .backgroundLayer > .colorLayer {
  background-color: rgba(1,176,94,0.32);
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #shapewrapper-s-Ellipse_14 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #shapewrapper-s-Ellipse_14 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #shapewrapper-s-Ellipse_14 span#rtr-s-Ellipse_14_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #shapewrapper-s-Ellipse_16 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #shapewrapper-s-Ellipse_16 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #shapewrapper-s-Ellipse_16 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #s-Ellipse_16 {
  width: 15.0px;
  height: 15.0px;
  min-height: 15.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #shapewrapper-s-Ellipse_16 > .backgroundLayer > .colorLayer {
  background-color: rgba(176,156,1,0.32);
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #shapewrapper-s-Ellipse_16 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #shapewrapper-s-Ellipse_16 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 #shapewrapper-s-Ellipse_16 span#rtr-s-Ellipse_16_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-a25ed841-cfda-45e9-a98f-e90a53335205 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}