#s-b9640789-4aa5-4350-baf2-c9e5dfaba3d6 > #backgroundBox {
  position: absolute;
}
#s-b9640789-4aa5-4350-baf2-c9e5dfaba3d6 > #alignmentBox {
  position: relative;
  max-width: 390.0px;
  max-height: 844.0px;
  width: 100%;
  height: 100%;
}
#s-b9640789-4aa5-4350-baf2-c9e5dfaba3d6 #s-Rectangle_35 {
  position: absolute;
  width: 375.0px;
  min-height: 33.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  mix-blend-mode: darken;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b9640789-4aa5-4350-baf2-c9e5dfaba3d6 #s-Rectangle_35 > .borderLayer {
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #F2F2F2;
}
#s-b9640789-4aa5-4350-baf2-c9e5dfaba3d6 #s-Rectangle_35 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b9640789-4aa5-4350-baf2-c9e5dfaba3d6 #s-Rectangle_35 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b9640789-4aa5-4350-baf2-c9e5dfaba3d6 #s-Rectangle_35 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-b9640789-4aa5-4350-baf2-c9e5dfaba3d6 #s-Rectangle_35 span#rtr-s-Rectangle_35_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-b9640789-4aa5-4350-baf2-c9e5dfaba3d6 #s-Image_54 {
  position: absolute;
  width: 14.0px;
  height: 11.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-b9640789-4aa5-4350-baf2-c9e5dfaba3d6 #s-Image_55 {
  position: absolute;
  width: 10.0px;
  height: 10.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-b9640789-4aa5-4350-baf2-c9e5dfaba3d6 #s-Image_57 {
  position: absolute;
  width: 21.0px;
  height: 11.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-b9640789-4aa5-4350-baf2-c9e5dfaba3d6 #s-Text_32 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular_wgt400',Arial;
}
#s-b9640789-4aa5-4350-baf2-c9e5dfaba3d6 #s-Text_32 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b9640789-4aa5-4350-baf2-c9e5dfaba3d6 #s-Text_32 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b9640789-4aa5-4350-baf2-c9e5dfaba3d6 #s-Text_32 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-b9640789-4aa5-4350-baf2-c9e5dfaba3d6 #s-Text_32 span#rtr-s-Text_32_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-b9640789-4aa5-4350-baf2-c9e5dfaba3d6 #s-Text_33 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular_wgt400',Arial;
}
#s-b9640789-4aa5-4350-baf2-c9e5dfaba3d6 #s-Text_33 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b9640789-4aa5-4350-baf2-c9e5dfaba3d6 #s-Text_33 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b9640789-4aa5-4350-baf2-c9e5dfaba3d6 #s-Text_33 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-b9640789-4aa5-4350-baf2-c9e5dfaba3d6 #s-Text_33 span#rtr-s-Text_33_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-b9640789-4aa5-4350-baf2-c9e5dfaba3d6 #s-Rect_8 {
  position: absolute;
  width: 135.0px;
  height: 5.0px;
  z-index: 100;
}
#s-b9640789-4aa5-4350-baf2-c9e5dfaba3d6 #s-Button_1 {
  position: absolute;
  width: 145.0000000000006px;
  min-height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular_wgt400',Arial;
}
#s-b9640789-4aa5-4350-baf2-c9e5dfaba3d6 #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-b9640789-4aa5-4350-baf2-c9e5dfaba3d6 #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: #282828;
}
#s-b9640789-4aa5-4350-baf2-c9e5dfaba3d6 #s-Button_1 > .borderLayer {
  border-top-width: 0.0px;
  border-top-style: solid;
  border-top-color: #282828;
  border-right-width: 0.0px;
  border-right-style: solid;
  border-right-color: #282828;
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #282828;
  border-left-width: 0.0px;
  border-left-style: solid;
  border-left-color: #282828;
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-b9640789-4aa5-4350-baf2-c9e5dfaba3d6 #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-b9640789-4aa5-4350-baf2-c9e5dfaba3d6 #s-Button_1 .paddingLayer {
  padding-top: 3px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
}
#s-b9640789-4aa5-4350-baf2-c9e5dfaba3d6 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b9640789-4aa5-4350-baf2-c9e5dfaba3d6 #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-b9640789-4aa5-4350-baf2-c9e5dfaba3d6 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-b9640789-4aa5-4350-baf2-c9e5dfaba3d6 #s-Rectangle_1 {
  position: absolute;
  width: 610.0000000000001px;
  min-height: 14.0px;
  -webkit-transform: rotate(90.0deg);
  -moz-transform: rotate(90.0deg);
  transform: rotate(90.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Light_wgt200',Arial;
}
#s-b9640789-4aa5-4350-baf2-c9e5dfaba3d6 #s-Rectangle_1 > .backgroundLayer {
  border-top-left-radius: 1.0px;
  border-top-right-radius: 1.0px;
  border-bottom-right-radius: 1.0px;
  border-bottom-left-radius: 1.0px;
}
#s-b9640789-4aa5-4350-baf2-c9e5dfaba3d6 #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #F3F3F3;
}
#s-b9640789-4aa5-4350-baf2-c9e5dfaba3d6 #s-Rectangle_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-top-left-radius: 1.0px;
  border-top-right-radius: 1.0px;
  border-bottom-right-radius: 1.0px;
  border-bottom-left-radius: 1.0px;
}
#s-b9640789-4aa5-4350-baf2-c9e5dfaba3d6 #s-Rectangle_1 > .backgroundLayer {
  border-top-left-radius: 1.0px;
  border-top-right-radius: 1.0px;
  border-bottom-right-radius: 1.0px;
  border-bottom-left-radius: 1.0px;
}
#s-b9640789-4aa5-4350-baf2-c9e5dfaba3d6 #s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b9640789-4aa5-4350-baf2-c9e5dfaba3d6 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b9640789-4aa5-4350-baf2-c9e5dfaba3d6 #s-Rectangle_1 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Light_wgt200',Arial;
  font-size: 10.0pt;
}
#s-b9640789-4aa5-4350-baf2-c9e5dfaba3d6 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'OpenSans-Light_wgt200',Arial;
  font-size: 10.0pt;
}
#s-b9640789-4aa5-4350-baf2-c9e5dfaba3d6 #s-Rectangle_2 {
  position: absolute;
  width: 62.0px;
  min-height: 14.0px;
  -webkit-transform: rotate(90.0deg);
  -moz-transform: rotate(90.0deg);
  transform: rotate(90.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Light_wgt200',Arial;
}
#s-b9640789-4aa5-4350-baf2-c9e5dfaba3d6 #s-Rectangle_2 > .backgroundLayer {
  border-top-left-radius: 6.0px;
  border-top-right-radius: 6.0px;
  border-bottom-right-radius: 6.0px;
  border-bottom-left-radius: 6.0px;
}
#s-b9640789-4aa5-4350-baf2-c9e5dfaba3d6 #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: rgba(40,40,40,0.35);
}
#s-b9640789-4aa5-4350-baf2-c9e5dfaba3d6 #s-Rectangle_2 > .borderLayer {
  border-top-left-radius: 6.0px;
  border-top-right-radius: 6.0px;
  border-bottom-right-radius: 6.0px;
  border-bottom-left-radius: 6.0px;
}
#s-b9640789-4aa5-4350-baf2-c9e5dfaba3d6 #s-Rectangle_2 > .backgroundLayer {
  border-top-left-radius: 6.0px;
  border-top-right-radius: 6.0px;
  border-bottom-right-radius: 6.0px;
  border-bottom-left-radius: 6.0px;
}
#s-b9640789-4aa5-4350-baf2-c9e5dfaba3d6 #s-Rectangle_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b9640789-4aa5-4350-baf2-c9e5dfaba3d6 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b9640789-4aa5-4350-baf2-c9e5dfaba3d6 #s-Rectangle_2 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Light_wgt200',Arial;
  font-size: 10.0pt;
}
#s-b9640789-4aa5-4350-baf2-c9e5dfaba3d6 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'OpenSans-Light_wgt200',Arial;
  font-size: 10.0pt;
}
#s-b9640789-4aa5-4350-baf2-c9e5dfaba3d6 #s-Rectangle_3 {
  position: absolute;
  width: 375.0000000000001px;
  min-height: 57.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b9640789-4aa5-4350-baf2-c9e5dfaba3d6 #s-Rectangle_3 > .backgroundLayer {
  border-top-left-radius: 1.0px;
  border-top-right-radius: 1.0px;
  border-bottom-right-radius: 1.0px;
  border-bottom-left-radius: 1.0px;
}
#s-b9640789-4aa5-4350-baf2-c9e5dfaba3d6 #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #282828;
}
#s-b9640789-4aa5-4350-baf2-c9e5dfaba3d6 #s-Rectangle_3 > .borderLayer {
  border-top-left-radius: 1.0px;
  border-top-right-radius: 1.0px;
  border-bottom-right-radius: 1.0px;
  border-bottom-left-radius: 1.0px;
}
#s-b9640789-4aa5-4350-baf2-c9e5dfaba3d6 #s-Rectangle_3 > .backgroundLayer {
  border-top-left-radius: 1.0px;
  border-top-right-radius: 1.0px;
  border-bottom-right-radius: 1.0px;
  border-bottom-left-radius: 1.0px;
}
#s-b9640789-4aa5-4350-baf2-c9e5dfaba3d6 #s-Rectangle_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b9640789-4aa5-4350-baf2-c9e5dfaba3d6 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b9640789-4aa5-4350-baf2-c9e5dfaba3d6 #s-Rectangle_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-b9640789-4aa5-4350-baf2-c9e5dfaba3d6 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-b9640789-4aa5-4350-baf2-c9e5dfaba3d6 #s-Paragraph_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-b9640789-4aa5-4350-baf2-c9e5dfaba3d6 #s-Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b9640789-4aa5-4350-baf2-c9e5dfaba3d6 #s-Paragraph_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-b9640789-4aa5-4350-baf2-c9e5dfaba3d6 #s-Paragraph_1 span {
  color: #C5C5C5;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 18.0pt;
}
#s-b9640789-4aa5-4350-baf2-c9e5dfaba3d6 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #C5C5C5;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 18.0pt;
}
#s-b9640789-4aa5-4350-baf2-c9e5dfaba3d6 #s-Path_1 {
  position: absolute;
  width: 376.0px;
  height: 3.0px;
}
#s-b9640789-4aa5-4350-baf2-c9e5dfaba3d6 #s-Rectangle_4 {
  position: absolute;
  width: 390.0000000000001px;
  min-height: 19.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b9640789-4aa5-4350-baf2-c9e5dfaba3d6 #s-Rectangle_4 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-b9640789-4aa5-4350-baf2-c9e5dfaba3d6 #s-Rectangle_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b9640789-4aa5-4350-baf2-c9e5dfaba3d6 #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b9640789-4aa5-4350-baf2-c9e5dfaba3d6 #s-Rectangle_4 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-b9640789-4aa5-4350-baf2-c9e5dfaba3d6 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-b9640789-4aa5-4350-baf2-c9e5dfaba3d6 #s-Path_2 {
  position: absolute;
  width: 14.963982582092285px;
  height: 26.0px;
}
#s-b9640789-4aa5-4350-baf2-c9e5dfaba3d6 #s-Input_8.checked > .backgroundLayer {
  background-image: url('../../images/cb3c50d5-e073-41e5-9704-a64c784c422e.svg#svgView(preserveAspectRatio(none);viewBox(0 0 51 31))');
}
#s-b9640789-4aa5-4350-baf2-c9e5dfaba3d6 #s-Input_8.unchecked > .backgroundLayer {
  background-image: url('../../images/f863d4b7-4911-4e09-b61c-5fc33a7ecdbb.svg#svgView(preserveAspectRatio(none);viewBox(0 0 51 31))');
}
#s-b9640789-4aa5-4350-baf2-c9e5dfaba3d6 #s-Input_8 {
  position: absolute;
  width: 51.0px;
  height: 31.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-b9640789-4aa5-4350-baf2-c9e5dfaba3d6 #s-Input_1.checked > .backgroundLayer {
  background-image: url('../../images/83f69c91-6efc-40b0-86e9-3ed5abd5c37f.svg#svgView(preserveAspectRatio(none);viewBox(0 0 51 31))');
}
#s-b9640789-4aa5-4350-baf2-c9e5dfaba3d6 #s-Input_1.unchecked > .backgroundLayer {
  background-image: url('../../images/9b0d6827-87f8-448c-bc49-c95e897bd8ed.svg#svgView(preserveAspectRatio(none);viewBox(0 0 51 31))');
}
#s-b9640789-4aa5-4350-baf2-c9e5dfaba3d6 #s-Input_1 {
  position: absolute;
  width: 51.0px;
  height: 31.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-b9640789-4aa5-4350-baf2-c9e5dfaba3d6 #s-Input_2.checked > .backgroundLayer {
  background-image: url('../../images/2d35a5f4-f72c-463e-9490-a0a5563690b8.svg#svgView(preserveAspectRatio(none);viewBox(0 0 51 31))');
}
#s-b9640789-4aa5-4350-baf2-c9e5dfaba3d6 #s-Input_2.unchecked > .backgroundLayer {
  background-image: url('../../images/055dc456-cd66-433a-ad6f-acfd5d5ecd85.svg#svgView(preserveAspectRatio(none);viewBox(0 0 51 31))');
}
#s-b9640789-4aa5-4350-baf2-c9e5dfaba3d6 #s-Input_2 {
  position: absolute;
  width: 51.0px;
  height: 31.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-b9640789-4aa5-4350-baf2-c9e5dfaba3d6 #s-Path_3 {
  position: absolute;
  width: 321.87091064453125px;
  height: 5.0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-b9640789-4aa5-4350-baf2-c9e5dfaba3d6 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}