#s-c648ef4f-0586-4525-a098-4c279392e73f > #backgroundBox {
  position: absolute;
}
#s-c648ef4f-0586-4525-a098-4c279392e73f > #alignmentBox {
  position: relative;
  max-width: 390.0px;
  max-height: 844.0px;
  width: 100%;
  height: 100%;
}
#s-c648ef4f-0586-4525-a098-4c279392e73f #s-Rectangle_34 {
  position: absolute;
  width: 375.0000000000001px;
  min-height: 57.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-c648ef4f-0586-4525-a098-4c279392e73f #s-Rectangle_34 > .backgroundLayer {
  border-top-left-radius: 1.0px;
  border-top-right-radius: 1.0px;
  border-bottom-right-radius: 1.0px;
  border-bottom-left-radius: 1.0px;
}
#s-c648ef4f-0586-4525-a098-4c279392e73f #s-Rectangle_34 > .backgroundLayer > .colorLayer {
  background-color: #282828;
}
#s-c648ef4f-0586-4525-a098-4c279392e73f #s-Rectangle_34 > .borderLayer {
  border-top-left-radius: 1.0px;
  border-top-right-radius: 1.0px;
  border-bottom-right-radius: 1.0px;
  border-bottom-left-radius: 1.0px;
}
#s-c648ef4f-0586-4525-a098-4c279392e73f #s-Rectangle_34 > .backgroundLayer {
  border-top-left-radius: 1.0px;
  border-top-right-radius: 1.0px;
  border-bottom-right-radius: 1.0px;
  border-bottom-left-radius: 1.0px;
}
#s-c648ef4f-0586-4525-a098-4c279392e73f #s-Rectangle_34 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c648ef4f-0586-4525-a098-4c279392e73f #s-Rectangle_34 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c648ef4f-0586-4525-a098-4c279392e73f #s-Rectangle_34 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-c648ef4f-0586-4525-a098-4c279392e73f #s-Rectangle_34 span#rtr-s-Rectangle_34_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-c648ef4f-0586-4525-a098-4c279392e73f #s-Rectangle_35 {
  position: absolute;
  width: 375.0px;
  min-height: 33.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  mix-blend-mode: darken;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-c648ef4f-0586-4525-a098-4c279392e73f #s-Rectangle_35 > .borderLayer {
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #F2F2F2;
}
#s-c648ef4f-0586-4525-a098-4c279392e73f #s-Rectangle_35 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c648ef4f-0586-4525-a098-4c279392e73f #s-Rectangle_35 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c648ef4f-0586-4525-a098-4c279392e73f #s-Rectangle_35 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-c648ef4f-0586-4525-a098-4c279392e73f #s-Rectangle_35 span#rtr-s-Rectangle_35_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-c648ef4f-0586-4525-a098-4c279392e73f #s-Image_54 {
  position: absolute;
  width: 14.0px;
  height: 11.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-c648ef4f-0586-4525-a098-4c279392e73f #s-Image_55 {
  position: absolute;
  width: 10.0px;
  height: 10.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-c648ef4f-0586-4525-a098-4c279392e73f #s-Image_57 {
  position: absolute;
  width: 21.0px;
  height: 11.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-c648ef4f-0586-4525-a098-4c279392e73f #s-Text_32 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular_wgt400',Arial;
}
#s-c648ef4f-0586-4525-a098-4c279392e73f #s-Text_32 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c648ef4f-0586-4525-a098-4c279392e73f #s-Text_32 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c648ef4f-0586-4525-a098-4c279392e73f #s-Text_32 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-c648ef4f-0586-4525-a098-4c279392e73f #s-Text_32 span#rtr-s-Text_32_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-c648ef4f-0586-4525-a098-4c279392e73f #s-Text_33 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular_wgt400',Arial;
}
#s-c648ef4f-0586-4525-a098-4c279392e73f #s-Text_33 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c648ef4f-0586-4525-a098-4c279392e73f #s-Text_33 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c648ef4f-0586-4525-a098-4c279392e73f #s-Text_33 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-c648ef4f-0586-4525-a098-4c279392e73f #s-Text_33 span#rtr-s-Text_33_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-c648ef4f-0586-4525-a098-4c279392e73f #s-Paragraph_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Regular_wgt400',Arial;
}
#s-c648ef4f-0586-4525-a098-4c279392e73f #s-Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c648ef4f-0586-4525-a098-4c279392e73f #s-Paragraph_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c648ef4f-0586-4525-a098-4c279392e73f #s-Paragraph_1 span {
  color: #C5C5C5;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 18.0pt;
}
#s-c648ef4f-0586-4525-a098-4c279392e73f #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #C5C5C5;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 18.0pt;
}
#s-c648ef4f-0586-4525-a098-4c279392e73f #s-Rectangle_2 {
  position: absolute;
  width: 390.0000000000001px;
  min-height: 19.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-c648ef4f-0586-4525-a098-4c279392e73f #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-c648ef4f-0586-4525-a098-4c279392e73f #s-Rectangle_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c648ef4f-0586-4525-a098-4c279392e73f #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c648ef4f-0586-4525-a098-4c279392e73f #s-Rectangle_2 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-c648ef4f-0586-4525-a098-4c279392e73f #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-c648ef4f-0586-4525-a098-4c279392e73f #s-Path_2 {
  position: absolute;
  width: 135.0px;
  height: 5.0px;
  z-index: 100;
}
#s-c648ef4f-0586-4525-a098-4c279392e73f #s-Path_1 {
  position: absolute;
  width: 376.0px;
  height: 3.0px;
}
#s-c648ef4f-0586-4525-a098-4c279392e73f #s-Path_7 {
  position: absolute;
  width: 30.431427001953125px;
  height: 26.0px;
}
#s-c648ef4f-0586-4525-a098-4c279392e73f #s-Path_17 {
  position: absolute;
  width: 14.963982582092285px;
  height: 26.0px;
}
#s-c648ef4f-0586-4525-a098-4c279392e73f #s-Rectangle_12 {
  position: absolute;
  width: 375.0px;
  min-height: 642.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-c648ef4f-0586-4525-a098-4c279392e73f #s-Rectangle_12 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-c648ef4f-0586-4525-a098-4c279392e73f #s-Rectangle_12 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c648ef4f-0586-4525-a098-4c279392e73f #s-Rectangle_12 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c648ef4f-0586-4525-a098-4c279392e73f #s-Rectangle_12 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-c648ef4f-0586-4525-a098-4c279392e73f #s-Rectangle_12 span#rtr-s-Rectangle_12_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-c648ef4f-0586-4525-a098-4c279392e73f #s-Image_15 {
  position: absolute;
  width: 375.0px;
  height: 638.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-c648ef4f-0586-4525-a098-4c279392e73f #s-Rectangle_3 {
  position: absolute;
  width: 375.0px;
  min-height: 357.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-c648ef4f-0586-4525-a098-4c279392e73f #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-c648ef4f-0586-4525-a098-4c279392e73f #s-Rectangle_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c648ef4f-0586-4525-a098-4c279392e73f #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c648ef4f-0586-4525-a098-4c279392e73f #s-Rectangle_3 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-c648ef4f-0586-4525-a098-4c279392e73f #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-c648ef4f-0586-4525-a098-4c279392e73f #s-Input_1 input::-webkit-input-placeholder {
  color: #B4B4B4;
}
#s-c648ef4f-0586-4525-a098-4c279392e73f #s-Input_1 input::-moz-placeholder {
  color: #B4B4B4;
}
#s-c648ef4f-0586-4525-a098-4c279392e73f #s-Input_1 input:-moz-placeholder {
  color: #B4B4B4;
}
#s-c648ef4f-0586-4525-a098-4c279392e73f #s-Input_1 input:-ms-input-placeholder {
  color: #B4B4B4;
}
#s-c648ef4f-0586-4525-a098-4c279392e73f #s-Input_1 {
  position: absolute;
  width: 339.0px;
  height: 60.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-c648ef4f-0586-4525-a098-4c279392e73f #s-Input_1 .valign {
  vertical-align: middle;
}
#s-c648ef4f-0586-4525-a098-4c279392e73f #s-Input_1 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 11.0pt;
  line-height: 17px;
}
#s-c648ef4f-0586-4525-a098-4c279392e73f #s-Input_1 > .backgroundLayer {
  border-top-left-radius: 6.0px;
  border-top-right-radius: 6.0px;
  border-bottom-right-radius: 6.0px;
  border-bottom-left-radius: 6.0px;
}
#s-c648ef4f-0586-4525-a098-4c279392e73f #s-Input_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-c648ef4f-0586-4525-a098-4c279392e73f #s-Input_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-top-left-radius: 6.0px;
  border-top-right-radius: 6.0px;
  border-bottom-right-radius: 6.0px;
  border-bottom-left-radius: 6.0px;
}
#s-c648ef4f-0586-4525-a098-4c279392e73f #s-Input_1 > .backgroundLayer {
  border-top-left-radius: 6.0px;
  border-top-right-radius: 6.0px;
  border-bottom-right-radius: 6.0px;
  border-bottom-left-radius: 6.0px;
}
#s-c648ef4f-0586-4525-a098-4c279392e73f #s-Input_1 .paddingLayer {
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 63px;
}
#s-c648ef4f-0586-4525-a098-4c279392e73f #s-Image_29 {
  position: absolute;
  width: 19.0px;
  height: 19.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-c648ef4f-0586-4525-a098-4c279392e73f #s-Image_28 {
  position: absolute;
  width: 25.0px;
  height: 18.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-c648ef4f-0586-4525-a098-4c279392e73f #s-Paragraph_31 {
  position: absolute;
  width: 148.0px;
  min-height: 26.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Light_wgt200',Arial;
}
#s-c648ef4f-0586-4525-a098-4c279392e73f #s-Paragraph_31 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c648ef4f-0586-4525-a098-4c279392e73f #s-Paragraph_31 .valign {
  vertical-align: top;
  text-align: left;
}
#s-c648ef4f-0586-4525-a098-4c279392e73f #s-Paragraph_31 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light_wgt200',Arial;
  font-size: 10.0pt;
  line-height: 19px;
}
#s-c648ef4f-0586-4525-a098-4c279392e73f #s-Paragraph_31 span#rtr-s-Paragraph_31_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'OpenSans-Light_wgt200',Arial;
  font-size: 10.0pt;
  line-height: 19px;
}
#s-c648ef4f-0586-4525-a098-4c279392e73f #s-Paragraph_32 {
  position: absolute;
  width: 237.0px;
  min-height: 28.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular_wgt400',Arial;
}
#s-c648ef4f-0586-4525-a098-4c279392e73f #s-Paragraph_32 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c648ef4f-0586-4525-a098-4c279392e73f #s-Paragraph_32 .valign {
  vertical-align: top;
  text-align: left;
}
#s-c648ef4f-0586-4525-a098-4c279392e73f #s-Paragraph_32 span {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 11.0pt;
  line-height: 22px;
}
#s-c648ef4f-0586-4525-a098-4c279392e73f #s-Paragraph_32 span#rtr-s-Paragraph_32_0 {
  color: #282828;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 11.0pt;
  line-height: 22px;
}
#s-c648ef4f-0586-4525-a098-4c279392e73f #s-Line_3 {
  position: absolute;
  width: 327.0px;
  height: 2.0px;
}
#s-c648ef4f-0586-4525-a098-4c279392e73f #s-Image_16 {
  position: absolute;
  width: 39.0px;
  height: 28.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-c648ef4f-0586-4525-a098-4c279392e73f #s-Paragraph_33 {
  position: absolute;
  width: 148.0px;
  min-height: 26.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Light_wgt200',Arial;
}
#s-c648ef4f-0586-4525-a098-4c279392e73f #s-Paragraph_33 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c648ef4f-0586-4525-a098-4c279392e73f #s-Paragraph_33 .valign {
  vertical-align: top;
  text-align: left;
}
#s-c648ef4f-0586-4525-a098-4c279392e73f #s-Paragraph_33 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light_wgt200',Arial;
  font-size: 10.0pt;
  line-height: 19px;
}
#s-c648ef4f-0586-4525-a098-4c279392e73f #s-Paragraph_33 span#rtr-s-Paragraph_33_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'OpenSans-Light_wgt200',Arial;
  font-size: 10.0pt;
  line-height: 19px;
}
#s-c648ef4f-0586-4525-a098-4c279392e73f #s-Paragraph_34 {
  position: absolute;
  width: 237.0px;
  min-height: 28.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular_wgt400',Arial;
}
#s-c648ef4f-0586-4525-a098-4c279392e73f #s-Paragraph_34 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c648ef4f-0586-4525-a098-4c279392e73f #s-Paragraph_34 .valign {
  vertical-align: top;
  text-align: left;
}
#s-c648ef4f-0586-4525-a098-4c279392e73f #s-Paragraph_34 span {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 11.0pt;
  line-height: 22px;
}
#s-c648ef4f-0586-4525-a098-4c279392e73f #s-Paragraph_34 span#rtr-s-Paragraph_34_0 {
  color: #282828;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 11.0pt;
  line-height: 22px;
}
#s-c648ef4f-0586-4525-a098-4c279392e73f #s-Line_4 {
  position: absolute;
  width: 327.0px;
  height: 2.0px;
}
#s-c648ef4f-0586-4525-a098-4c279392e73f #s-Image_17 {
  position: absolute;
  width: 39.0px;
  height: 28.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-c648ef4f-0586-4525-a098-4c279392e73f #s-Paragraph_35 {
  position: absolute;
  width: 148.0px;
  min-height: 26.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Light_wgt200',Arial;
}
#s-c648ef4f-0586-4525-a098-4c279392e73f #s-Paragraph_35 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c648ef4f-0586-4525-a098-4c279392e73f #s-Paragraph_35 .valign {
  vertical-align: top;
  text-align: left;
}
#s-c648ef4f-0586-4525-a098-4c279392e73f #s-Paragraph_35 span {
  color: #666666;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light_wgt200',Arial;
  font-size: 10.0pt;
  line-height: 19px;
}
#s-c648ef4f-0586-4525-a098-4c279392e73f #s-Paragraph_35 span#rtr-s-Paragraph_35_0 {
  color: #666666;
  text-decoration: none;
  font-family: 'OpenSans-Light_wgt200',Arial;
  font-size: 10.0pt;
  line-height: 19px;
}
#s-c648ef4f-0586-4525-a098-4c279392e73f #s-Paragraph_36 {
  position: absolute;
  width: 237.0px;
  min-height: 28.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular_wgt400',Arial;
}
#s-c648ef4f-0586-4525-a098-4c279392e73f #s-Paragraph_36 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c648ef4f-0586-4525-a098-4c279392e73f #s-Paragraph_36 .valign {
  vertical-align: top;
  text-align: left;
}
#s-c648ef4f-0586-4525-a098-4c279392e73f #s-Paragraph_36 span {
  color: #282828;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 11.0pt;
  line-height: 22px;
}
#s-c648ef4f-0586-4525-a098-4c279392e73f #s-Paragraph_36 span#rtr-s-Paragraph_36_0 {
  color: #282828;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 11.0pt;
  line-height: 22px;
}
#s-c648ef4f-0586-4525-a098-4c279392e73f #s-Line_5 {
  position: absolute;
  width: 327.0px;
  height: 2.0px;
}
#s-c648ef4f-0586-4525-a098-4c279392e73f #s-Image_18 {
  position: absolute;
  width: 39.0px;
  height: 28.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-c648ef4f-0586-4525-a098-4c279392e73f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}