#s-c6ba308a-18d2-40d3-853a-24a67e8589a6 > #backgroundBox {
  position: absolute;
}
#s-c6ba308a-18d2-40d3-853a-24a67e8589a6 > #alignmentBox {
  position: relative;
  max-width: 390.0px;
  max-height: 844.0px;
  width: 100%;
  height: 100%;
}
#s-c6ba308a-18d2-40d3-853a-24a67e8589a6 #s-Rectangle_35 {
  position: absolute;
  width: 375.0px;
  min-height: 33.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  mix-blend-mode: darken;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-c6ba308a-18d2-40d3-853a-24a67e8589a6 #s-Rectangle_35 > .borderLayer {
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #F2F2F2;
}
#s-c6ba308a-18d2-40d3-853a-24a67e8589a6 #s-Rectangle_35 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c6ba308a-18d2-40d3-853a-24a67e8589a6 #s-Rectangle_35 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c6ba308a-18d2-40d3-853a-24a67e8589a6 #s-Rectangle_35 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-c6ba308a-18d2-40d3-853a-24a67e8589a6 #s-Rectangle_35 span#rtr-s-Rectangle_35_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-c6ba308a-18d2-40d3-853a-24a67e8589a6 #s-Image_54 {
  position: absolute;
  width: 14.0px;
  height: 11.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-c6ba308a-18d2-40d3-853a-24a67e8589a6 #s-Image_55 {
  position: absolute;
  width: 10.0px;
  height: 10.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-c6ba308a-18d2-40d3-853a-24a67e8589a6 #s-Image_57 {
  position: absolute;
  width: 21.0px;
  height: 11.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-c6ba308a-18d2-40d3-853a-24a67e8589a6 #s-Text_32 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular_wgt400',Arial;
}
#s-c6ba308a-18d2-40d3-853a-24a67e8589a6 #s-Text_32 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c6ba308a-18d2-40d3-853a-24a67e8589a6 #s-Text_32 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c6ba308a-18d2-40d3-853a-24a67e8589a6 #s-Text_32 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-c6ba308a-18d2-40d3-853a-24a67e8589a6 #s-Text_32 span#rtr-s-Text_32_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-c6ba308a-18d2-40d3-853a-24a67e8589a6 #s-Text_33 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular_wgt400',Arial;
}
#s-c6ba308a-18d2-40d3-853a-24a67e8589a6 #s-Text_33 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c6ba308a-18d2-40d3-853a-24a67e8589a6 #s-Text_33 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c6ba308a-18d2-40d3-853a-24a67e8589a6 #s-Text_33 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-c6ba308a-18d2-40d3-853a-24a67e8589a6 #s-Text_33 span#rtr-s-Text_33_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-c6ba308a-18d2-40d3-853a-24a67e8589a6 #s-Rectangle_40 {
  position: absolute;
  width: 389.9999999999997px;
  min-height: 813.0000000000002px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-c6ba308a-18d2-40d3-853a-24a67e8589a6 #s-Rectangle_40 > .backgroundLayer {
  border-top-left-radius: 0.0px;
  border-top-right-radius: 0.0px;
  border-bottom-right-radius: 40.0px;
  border-bottom-left-radius: 40.0px;
}
#s-c6ba308a-18d2-40d3-853a-24a67e8589a6 #s-Rectangle_40 > .backgroundLayer > .colorLayer {
  background-color: rgba(28,28,28,0.04);
}
#s-c6ba308a-18d2-40d3-853a-24a67e8589a6 #s-Rectangle_40 > .borderLayer {
  border-top-left-radius: 0.0px;
  border-top-right-radius: 0.0px;
  border-bottom-right-radius: 40.0px;
  border-bottom-left-radius: 40.0px;
}
#s-c6ba308a-18d2-40d3-853a-24a67e8589a6 #s-Rectangle_40 > .backgroundLayer {
  border-top-left-radius: 0.0px;
  border-top-right-radius: 0.0px;
  border-bottom-right-radius: 40.0px;
  border-bottom-left-radius: 40.0px;
}
#s-c6ba308a-18d2-40d3-853a-24a67e8589a6 #s-Rectangle_40 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c6ba308a-18d2-40d3-853a-24a67e8589a6 #s-Rectangle_40 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c6ba308a-18d2-40d3-853a-24a67e8589a6 #s-Rectangle_40 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-c6ba308a-18d2-40d3-853a-24a67e8589a6 #s-Rectangle_40 span#rtr-s-Rectangle_40_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-c6ba308a-18d2-40d3-853a-24a67e8589a6 #s-Rect_9 {
  position: absolute;
  width: 135.0px;
  height: 5.0px;
  z-index: 100;
}
#s-c6ba308a-18d2-40d3-853a-24a67e8589a6 #s-Rect_8 {
  position: absolute;
  width: 135.0px;
  height: 5.0px;
  z-index: 100;
}
#s-c6ba308a-18d2-40d3-853a-24a67e8589a6 #s-Path_1 {
  position: absolute;
  width: 351.96429443359375px;
  height: 2.0px;
}
#s-c6ba308a-18d2-40d3-853a-24a67e8589a6 #s-Path_200 {
  position: absolute;
  width: 262.5023498535156px;
  height: 1.5px;
}
#s-c6ba308a-18d2-40d3-853a-24a67e8589a6 #s-Paragraph_14 {
  position: absolute;
  width: 150.5067102600709px;
  min-height: 46.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Light_wgt300',Arial;
}
#s-c6ba308a-18d2-40d3-853a-24a67e8589a6 #s-Paragraph_14 > .backgroundLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-c6ba308a-18d2-40d3-853a-24a67e8589a6 #s-Paragraph_14 > .borderLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-c6ba308a-18d2-40d3-853a-24a67e8589a6 #s-Paragraph_14 > .backgroundLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-c6ba308a-18d2-40d3-853a-24a67e8589a6 #s-Paragraph_14 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c6ba308a-18d2-40d3-853a-24a67e8589a6 #s-Paragraph_14 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c6ba308a-18d2-40d3-853a-24a67e8589a6 #s-Paragraph_14 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light_wgt300',Arial;
  font-size: 13.5pt;
  letter-spacing: 0.1px;
}
#s-c6ba308a-18d2-40d3-853a-24a67e8589a6 #s-Paragraph_14 span#rtr-s-Paragraph_14_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Light_wgt300',Arial;
  font-size: 13.5pt;
  letter-spacing: 0.1px;
}
#s-c6ba308a-18d2-40d3-853a-24a67e8589a6 #s-Path_133 {
  position: absolute;
  width: 262.4784851074219px;
  height: 2.0px;
}
#s-c6ba308a-18d2-40d3-853a-24a67e8589a6 #s-Path_2 {
  position: absolute;
  width: 262.4784851074219px;
  height: 2.0px;
}
#s-c6ba308a-18d2-40d3-853a-24a67e8589a6 #s-Path_134 {
  position: absolute;
  width: 262.4784851074219px;
  height: 2.0px;
}
#s-c6ba308a-18d2-40d3-853a-24a67e8589a6 #s-Paragraph_17 {
  position: absolute;
  width: 150.5067102600709px;
  min-height: 46.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Light_wgt300',Arial;
}
#s-c6ba308a-18d2-40d3-853a-24a67e8589a6 #s-Paragraph_17 > .backgroundLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-c6ba308a-18d2-40d3-853a-24a67e8589a6 #s-Paragraph_17 > .borderLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-c6ba308a-18d2-40d3-853a-24a67e8589a6 #s-Paragraph_17 > .backgroundLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-c6ba308a-18d2-40d3-853a-24a67e8589a6 #s-Paragraph_17 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c6ba308a-18d2-40d3-853a-24a67e8589a6 #s-Paragraph_17 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c6ba308a-18d2-40d3-853a-24a67e8589a6 #s-Paragraph_17 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light_wgt300',Arial;
  font-size: 13.5pt;
  letter-spacing: 0.1px;
}
#s-c6ba308a-18d2-40d3-853a-24a67e8589a6 #s-Paragraph_17 span#rtr-s-Paragraph_17_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Light_wgt300',Arial;
  font-size: 13.5pt;
  letter-spacing: 0.1px;
}
#s-c6ba308a-18d2-40d3-853a-24a67e8589a6 #s-Path_32 {
  position: absolute;
  width: 13.921838760375977px;
  height: 20.812490463256836px;
}
#s-c6ba308a-18d2-40d3-853a-24a67e8589a6 #s-Path_136 {
  position: absolute;
  width: 262.4784851074219px;
  height: 2.0px;
}
#s-c6ba308a-18d2-40d3-853a-24a67e8589a6 #s-Paragraph_18 {
  position: absolute;
  width: 150.5067102600709px;
  min-height: 46.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Light_wgt300',Arial;
}
#s-c6ba308a-18d2-40d3-853a-24a67e8589a6 #s-Paragraph_18 > .backgroundLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-c6ba308a-18d2-40d3-853a-24a67e8589a6 #s-Paragraph_18 > .borderLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-c6ba308a-18d2-40d3-853a-24a67e8589a6 #s-Paragraph_18 > .backgroundLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-c6ba308a-18d2-40d3-853a-24a67e8589a6 #s-Paragraph_18 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c6ba308a-18d2-40d3-853a-24a67e8589a6 #s-Paragraph_18 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c6ba308a-18d2-40d3-853a-24a67e8589a6 #s-Paragraph_18 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light_wgt300',Arial;
  font-size: 13.5pt;
  letter-spacing: 0.1px;
}
#s-c6ba308a-18d2-40d3-853a-24a67e8589a6 #s-Paragraph_18 span#rtr-s-Paragraph_18_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Light_wgt300',Arial;
  font-size: 13.5pt;
  letter-spacing: 0.1px;
}
#s-c6ba308a-18d2-40d3-853a-24a67e8589a6 #s-Path_137 {
  position: absolute;
  width: 262.4784851074219px;
  height: 2.0px;
}
#s-c6ba308a-18d2-40d3-853a-24a67e8589a6 #s-Paragraph_20 {
  position: absolute;
  width: 150.5067102600709px;
  min-height: 46.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Light_wgt300',Arial;
}
#s-c6ba308a-18d2-40d3-853a-24a67e8589a6 #s-Paragraph_20 > .backgroundLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-c6ba308a-18d2-40d3-853a-24a67e8589a6 #s-Paragraph_20 > .borderLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-c6ba308a-18d2-40d3-853a-24a67e8589a6 #s-Paragraph_20 > .backgroundLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-c6ba308a-18d2-40d3-853a-24a67e8589a6 #s-Paragraph_20 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c6ba308a-18d2-40d3-853a-24a67e8589a6 #s-Paragraph_20 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c6ba308a-18d2-40d3-853a-24a67e8589a6 #s-Paragraph_20 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light_wgt300',Arial;
  font-size: 13.5pt;
  letter-spacing: 0.1px;
}
#s-c6ba308a-18d2-40d3-853a-24a67e8589a6 #s-Paragraph_20 span#rtr-s-Paragraph_20_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Light_wgt300',Arial;
  font-size: 13.5pt;
  letter-spacing: 0.1px;
}
#s-c6ba308a-18d2-40d3-853a-24a67e8589a6 #s-Path_139 {
  position: absolute;
  width: 262.4784851074219px;
  height: 2.0px;
}
#s-c6ba308a-18d2-40d3-853a-24a67e8589a6 #s-Paragraph_21 {
  position: absolute;
  width: 150.5067102600709px;
  min-height: 46.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Light_wgt300',Arial;
}
#s-c6ba308a-18d2-40d3-853a-24a67e8589a6 #s-Paragraph_21 > .backgroundLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-c6ba308a-18d2-40d3-853a-24a67e8589a6 #s-Paragraph_21 > .borderLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-c6ba308a-18d2-40d3-853a-24a67e8589a6 #s-Paragraph_21 > .backgroundLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-c6ba308a-18d2-40d3-853a-24a67e8589a6 #s-Paragraph_21 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c6ba308a-18d2-40d3-853a-24a67e8589a6 #s-Paragraph_21 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c6ba308a-18d2-40d3-853a-24a67e8589a6 #s-Paragraph_21 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light_wgt300',Arial;
  font-size: 13.5pt;
  letter-spacing: 0.1px;
}
#s-c6ba308a-18d2-40d3-853a-24a67e8589a6 #s-Paragraph_21 span#rtr-s-Paragraph_21_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Light_wgt300',Arial;
  font-size: 13.5pt;
  letter-spacing: 0.1px;
}
#s-c6ba308a-18d2-40d3-853a-24a67e8589a6 #s-Path_140 {
  position: absolute;
  width: 262.4784851074219px;
  height: 2.0px;
}
#s-c6ba308a-18d2-40d3-853a-24a67e8589a6 #s-Paragraph_22 {
  position: absolute;
  width: 150.5067102600709px;
  min-height: 46.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Roboto-Light_wgt300',Arial;
}
#s-c6ba308a-18d2-40d3-853a-24a67e8589a6 #s-Paragraph_22 > .backgroundLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-c6ba308a-18d2-40d3-853a-24a67e8589a6 #s-Paragraph_22 > .borderLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-c6ba308a-18d2-40d3-853a-24a67e8589a6 #s-Paragraph_22 > .backgroundLayer {
  border-top-left-radius: 9.0px;
  border-top-right-radius: 9.0px;
  border-bottom-right-radius: 9.0px;
  border-bottom-left-radius: 9.0px;
}
#s-c6ba308a-18d2-40d3-853a-24a67e8589a6 #s-Paragraph_22 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-c6ba308a-18d2-40d3-853a-24a67e8589a6 #s-Paragraph_22 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-c6ba308a-18d2-40d3-853a-24a67e8589a6 #s-Paragraph_22 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light_wgt300',Arial;
  font-size: 13.5pt;
  letter-spacing: 0.1px;
}
#s-c6ba308a-18d2-40d3-853a-24a67e8589a6 #s-Paragraph_22 span#rtr-s-Paragraph_22_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Roboto-Light_wgt300',Arial;
  font-size: 13.5pt;
  letter-spacing: 0.1px;
}
#s-c6ba308a-18d2-40d3-853a-24a67e8589a6 #s-Path_40 {
  position: absolute;
  width: 13.185053825378418px;
  height: 12.752592086791992px;
}
#s-c6ba308a-18d2-40d3-853a-24a67e8589a6 #s-Circle_2 {
  position: absolute;
  width: 3.276945114135742px;
  height: 3.291598081588745px;
}
#s-c6ba308a-18d2-40d3-853a-24a67e8589a6 #s-Circle_3 {
  position: absolute;
  width: 3.2769432067871094px;
  height: 3.291598081588745px;
}
#s-c6ba308a-18d2-40d3-853a-24a67e8589a6 #s-Circle_4 {
  position: absolute;
  width: 3.2769436836242676px;
  height: 3.291598081588745px;
}
#s-c6ba308a-18d2-40d3-853a-24a67e8589a6 #s-Path_44 {
  position: absolute;
  width: 18.184579849243164px;
  height: 19.889629364013672px;
}
#s-c6ba308a-18d2-40d3-853a-24a67e8589a6 #s-Path_34 {
  position: absolute;
  width: 18.62405014038086px;
  height: 18.62405014038086px;
}
#s-c6ba308a-18d2-40d3-853a-24a67e8589a6 #s-Path_31 {
  position: absolute;
  width: 21.49802017211914px;
  height: 18.815200805664062px;
}
#s-c6ba308a-18d2-40d3-853a-24a67e8589a6 #shapewrapper-s-Ellipse_1 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-c6ba308a-18d2-40d3-853a-24a67e8589a6 #shapewrapper-s-Ellipse_1 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-c6ba308a-18d2-40d3-853a-24a67e8589a6 #shapewrapper-s-Ellipse_1 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-c6ba308a-18d2-40d3-853a-24a67e8589a6 #s-Ellipse_1 {
  width: 55.99999999999977px;
  height: 55.99999999999977px;
  min-height: 55.99999999999977px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  stroke-width: 2.0px;
  stroke: #535353;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-c6ba308a-18d2-40d3-853a-24a67e8589a6 #shapewrapper-s-Ellipse_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-c6ba308a-18d2-40d3-853a-24a67e8589a6 #shapewrapper-s-Ellipse_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-c6ba308a-18d2-40d3-853a-24a67e8589a6 #shapewrapper-s-Ellipse_1 span#rtr-s-Ellipse_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-c6ba308a-18d2-40d3-853a-24a67e8589a6 #s-Path_3 {
  position: absolute;
  width: 29.72430419921875px;
  height: 29.696971893310547px;
}
#s-c6ba308a-18d2-40d3-853a-24a67e8589a6 #s-Path_21 {
  position: absolute;
  width: 17.41115951538086px;
  height: 17.411088943481445px;
}
#s-c6ba308a-18d2-40d3-853a-24a67e8589a6 #s-Path_4 {
  position: absolute;
  width: 19.101158142089844px;
  height: 16.0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-c6ba308a-18d2-40d3-853a-24a67e8589a6 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}