#s-e43bf4f4-e153-4d56-ab60-098143e0182e > #backgroundBox {
  position: absolute;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e > #alignmentBox {
  position: relative;
  max-width: 390.0px;
  max-height: 844.0px;
  width: 100%;
  height: 100%;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Rectangle_35 {
  position: absolute;
  width: 375.0px;
  min-height: 33.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  mix-blend-mode: darken;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Rectangle_35 > .borderLayer {
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #F2F2F2;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Rectangle_35 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Rectangle_35 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Rectangle_35 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Rectangle_35 span#rtr-s-Rectangle_35_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Image_54 {
  position: absolute;
  width: 14.0px;
  height: 11.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Image_55 {
  position: absolute;
  width: 10.0px;
  height: 10.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Image_57 {
  position: absolute;
  width: 21.0px;
  height: 11.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Text_32 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular_wgt400',Arial;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Text_32 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Text_32 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Text_32 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Text_32 span#rtr-s-Text_32_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Text_33 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular_wgt400',Arial;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Text_33 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Text_33 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Text_33 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Text_33 span#rtr-s-Text_33_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Rectangle_40 {
  position: absolute;
  width: 389.9999999999997px;
  min-height: 813.0000000000002px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Rectangle_40 > .backgroundLayer {
  border-top-left-radius: 0.0px;
  border-top-right-radius: 0.0px;
  border-bottom-right-radius: 40.0px;
  border-bottom-left-radius: 40.0px;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Rectangle_40 > .backgroundLayer > .colorLayer {
  background-color: rgba(28,28,28,0.04);
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Rectangle_40 > .borderLayer {
  border-top-left-radius: 0.0px;
  border-top-right-radius: 0.0px;
  border-bottom-right-radius: 40.0px;
  border-bottom-left-radius: 40.0px;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Rectangle_40 > .backgroundLayer {
  border-top-left-radius: 0.0px;
  border-top-right-radius: 0.0px;
  border-bottom-right-radius: 40.0px;
  border-bottom-left-radius: 40.0px;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Rectangle_40 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Rectangle_40 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Rectangle_40 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Rectangle_40 span#rtr-s-Rectangle_40_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Rect_8 {
  position: absolute;
  width: 135.0px;
  height: 5.0px;
  z-index: 100;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Button_1 {
  position: absolute;
  width: 145.0000000000006px;
  min-height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular_wgt400',Arial;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: #282828;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Button_1 > .borderLayer {
  border-top-width: 0.0px;
  border-top-style: solid;
  border-top-color: #282828;
  border-right-width: 0.0px;
  border-right-style: solid;
  border-right-color: #282828;
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #282828;
  border-left-width: 0.0px;
  border-left-style: solid;
  border-left-color: #282828;
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Button_1 > .backgroundLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Button_1 .paddingLayer {
  padding-top: 3px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Paragraph_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular_wgt400',Arial;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Paragraph_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Paragraph_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Paragraph_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 8.0pt;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 8.0pt;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Button_2 {
  position: absolute;
  width: 142.9947814941403px;
  min-height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular_wgt400',Arial;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Button_2 > .backgroundLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Button_2 > .backgroundLayer > .colorLayer {
  background-color: #282828;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Button_2 > .borderLayer {
  border-top-width: 0.0px;
  border-top-style: solid;
  border-top-color: #282828;
  border-right-width: 0.0px;
  border-right-style: solid;
  border-right-color: #282828;
  border-bottom-width: 0.0px;
  border-bottom-style: solid;
  border-bottom-color: #282828;
  border-left-width: 0.0px;
  border-left-style: solid;
  border-left-color: #282828;
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Button_2 > .backgroundLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Button_2 .paddingLayer {
  padding-top: 3px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Button_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Button_2 span#rtr-s-Button_2_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Input_3 input::-webkit-input-placeholder {
  color: #B2B2B2;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Input_3 input::-moz-placeholder {
  color: #B2B2B2;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Input_3 input:-moz-placeholder {
  color: #B2B2B2;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Input_3 input:-ms-input-placeholder {
  color: #B2B2B2;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Input_3 {
  position: absolute;
  width: 306.0px;
  height: 46.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Input_3 .valign {
  vertical-align: middle;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Input_3 input {
  color: #B2B2B2;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light_wgt200',Arial;
  font-size: 10.5pt;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Input_3 > .backgroundLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 0.0px;
  border-bottom-left-radius: 0.0px;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Input_3 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Input_3 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 0.0px;
  border-bottom-left-radius: 0.0px;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Input_3 > .backgroundLayer {
  border-top-left-radius: 5.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 0.0px;
  border-bottom-left-radius: 0.0px;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Input_3 .paddingLayer {
  padding-top: 3px;
  padding-right: 7px;
  padding-bottom: 2px;
  padding-left: 17px;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Paragraph_3 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular_wgt400',Arial;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Paragraph_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Paragraph_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Paragraph_3 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Category_1 .icon {
  background-image: url('../../images/2f496883-9eec-42d7-9622-3afe811d0413.svg');
  background-size: auto;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Category_1 .value {
  margin-right: 14.0px;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e .s-Category_1 .line_options.selected {
  background-color: #000000 !important;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e .s-Category_1 .selected > .options {
  color: #FFFFFF !important;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e .s-Category_1 .line_options:hover {
  background-color: #000000 !important;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e .s-Category_1 .line_options:hover > .options {
  color: #FFFFFF !important;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Category_1 > .dropdown-options {
  width: calc(100%);
  height: calc(100%);
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Category_1 {
  position: absolute;
  width: 46.99999999999994px;
  height: 35.20856486736972px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  mix-blend-mode: luminosity;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Regular_wgt400',Arial;
  font-size: 11.25pt;
  vertical-align: middle;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Category_1 > .backgroundLayer {
  border-top-left-radius: 17.60428243368483px;
  border-top-right-radius: 17.60428243368483px;
  border-bottom-right-radius: 17.60428243368483px;
  border-bottom-left-radius: 17.60428243368483px;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Category_1 > .borderLayer {
  border-top-left-radius: 17.60428243368483px;
  border-top-right-radius: 17.60428243368483px;
  border-bottom-right-radius: 17.60428243368483px;
  border-bottom-left-radius: 17.60428243368483px;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Category_1 > .backgroundLayer {
  border-top-left-radius: 17.60428243368483px;
  border-top-right-radius: 17.60428243368483px;
  border-bottom-right-radius: 17.60428243368483px;
  border-bottom-left-radius: 17.60428243368483px;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Category_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 9px;
  padding-bottom: 0px;
  padding-left: 12px;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #shapewrapper-s-Ellipse_2 .paddingLayer {
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #shapewrapper-s-Ellipse_2 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #shapewrapper-s-Ellipse_2 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Ellipse_2 {
  width: 15.0px;
  height: 15.0px;
  min-height: 15.0px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #shapewrapper-s-Ellipse_2 > .backgroundLayer > .colorLayer {
  background-color: rgba(176,156,1,0.32);
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #shapewrapper-s-Ellipse_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #shapewrapper-s-Ellipse_2 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #shapewrapper-s-Ellipse_2 span#rtr-s-Ellipse_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Input_2 input::-webkit-input-placeholder {
  color: #B2B2B2;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Input_2 input::-moz-placeholder {
  color: #B2B2B2;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Input_2 input:-moz-placeholder {
  color: #B2B2B2;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Input_2 input:-ms-input-placeholder {
  color: #B2B2B2;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Input_2 {
  position: absolute;
  width: 349.0000000000001px;
  height: 344.55362234458767px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Input_2 .valign {
  vertical-align: middle;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Input_2 input {
  color: #B2B2B2;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light_wgt200',Arial;
  font-size: 10.5pt;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Input_2 > .backgroundLayer {
  border-top-left-radius: 0.0px;
  border-top-right-radius: 0.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Input_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Input_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-top-left-radius: 0.0px;
  border-top-right-radius: 0.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Input_2 > .backgroundLayer {
  border-top-left-radius: 0.0px;
  border-top-right-radius: 0.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Input_2 .paddingLayer {
  padding-top: 3px;
  padding-right: 7px;
  padding-bottom: 2px;
  padding-left: 17px;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Rectangle_1 {
  position: absolute;
  width: 324.00000000000006px;
  min-height: 14.0px;
  -webkit-transform: rotate(90.0deg);
  -moz-transform: rotate(90.0deg);
  transform: rotate(90.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Light_wgt200',Arial;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Rectangle_1 > .backgroundLayer {
  border-top-left-radius: 1.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 1.0px;
  border-bottom-left-radius: 1.0px;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #F3F3F3;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Rectangle_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-top-left-radius: 1.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 1.0px;
  border-bottom-left-radius: 1.0px;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Rectangle_1 > .backgroundLayer {
  border-top-left-radius: 1.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 1.0px;
  border-bottom-left-radius: 1.0px;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Rectangle_1 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Light_wgt200',Arial;
  font-size: 10.0pt;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'OpenSans-Light_wgt200',Arial;
  font-size: 10.0pt;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Rectangle_2 {
  position: absolute;
  width: 62.0px;
  min-height: 13.999999999999886px;
  -webkit-transform: rotate(90.0deg);
  -moz-transform: rotate(90.0deg);
  transform: rotate(90.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Light_wgt200',Arial;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Rectangle_2 > .backgroundLayer {
  border-top-left-radius: 6.0px;
  border-top-right-radius: 6.0px;
  border-bottom-right-radius: 6.0px;
  border-bottom-left-radius: 6.0px;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: rgba(40,40,40,0.35);
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Rectangle_2 > .borderLayer {
  border-top-left-radius: 6.0px;
  border-top-right-radius: 6.0px;
  border-bottom-right-radius: 6.0px;
  border-bottom-left-radius: 6.0px;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Rectangle_2 > .backgroundLayer {
  border-top-left-radius: 6.0px;
  border-top-right-radius: 6.0px;
  border-bottom-right-radius: 6.0px;
  border-bottom-left-radius: 6.0px;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Rectangle_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Rectangle_2 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Light_wgt200',Arial;
  font-size: 10.0pt;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'OpenSans-Light_wgt200',Arial;
  font-size: 10.0pt;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Path_29 {
  position: absolute;
  width: 14.730430603027344px;
  height: 14.730440139770508px;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Path_26 {
  position: absolute;
  width: 14.712849617004395px;
  height: 2.003899574279785px;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Paragraph_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular_wgt400',Arial;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Paragraph_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Paragraph_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Path_2 {
  position: absolute;
  width: 14.730430603027344px;
  height: 14.730440139770508px;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Input_4 input::-webkit-input-placeholder {
  color: #B2B2B2;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Input_4 input::-moz-placeholder {
  color: #B2B2B2;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Input_4 input:-moz-placeholder {
  color: #B2B2B2;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Input_4 input:-ms-input-placeholder {
  color: #B2B2B2;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Input_4 {
  position: absolute;
  width: 349.0000000000002px;
  height: 200.55362110758335px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Input_4 .valign {
  vertical-align: middle;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Input_4 input {
  color: #B2B2B2;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light_wgt200',Arial;
  font-size: 10.5pt;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Input_4 > .backgroundLayer {
  border-top-left-radius: 0.0px;
  border-top-right-radius: 0.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Input_4 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Input_4 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-top-left-radius: 0.0px;
  border-top-right-radius: 0.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Input_4 > .backgroundLayer {
  border-top-left-radius: 0.0px;
  border-top-right-radius: 0.0px;
  border-bottom-right-radius: 5.0px;
  border-bottom-left-radius: 5.0px;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Input_4 .paddingLayer {
  padding-top: 3px;
  padding-right: 7px;
  padding-bottom: 2px;
  padding-left: 17px;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Rectangle_13 {
  position: absolute;
  width: 201.0px;
  min-height: 14.0px;
  -webkit-transform: rotate(90.0deg);
  -moz-transform: rotate(90.0deg);
  transform: rotate(90.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Light_wgt200',Arial;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Rectangle_13 > .backgroundLayer {
  border-top-left-radius: 1.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 1.0px;
  border-bottom-left-radius: 1.0px;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Rectangle_13 > .backgroundLayer > .colorLayer {
  background-color: #F3F3F3;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Rectangle_13 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #DDDDDD;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #DDDDDD;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #DDDDDD;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #DDDDDD;
  border-top-left-radius: 1.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 1.0px;
  border-bottom-left-radius: 1.0px;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Rectangle_13 > .backgroundLayer {
  border-top-left-radius: 1.0px;
  border-top-right-radius: 5.0px;
  border-bottom-right-radius: 1.0px;
  border-bottom-left-radius: 1.0px;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Rectangle_13 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Rectangle_13 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Rectangle_13 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Light_wgt200',Arial;
  font-size: 10.0pt;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Rectangle_13 span#rtr-s-Rectangle_13_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'OpenSans-Light_wgt200',Arial;
  font-size: 10.0pt;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Rectangle_22 {
  position: absolute;
  width: 62.0px;
  min-height: 14.0px;
  -webkit-transform: rotate(90.0deg);
  -moz-transform: rotate(90.0deg);
  transform: rotate(90.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Light_wgt200',Arial;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Rectangle_22 > .backgroundLayer {
  border-top-left-radius: 6.0px;
  border-top-right-radius: 6.0px;
  border-bottom-right-radius: 6.0px;
  border-bottom-left-radius: 6.0px;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Rectangle_22 > .backgroundLayer > .colorLayer {
  background-color: rgba(40,40,40,0.35);
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Rectangle_22 > .borderLayer {
  border-top-left-radius: 6.0px;
  border-top-right-radius: 6.0px;
  border-bottom-right-radius: 6.0px;
  border-bottom-left-radius: 6.0px;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Rectangle_22 > .backgroundLayer {
  border-top-left-radius: 6.0px;
  border-top-right-radius: 6.0px;
  border-bottom-right-radius: 6.0px;
  border-bottom-left-radius: 6.0px;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Rectangle_22 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Rectangle_22 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Rectangle_22 span {
  color: #434343;
  text-align: center;
  text-decoration: none;
  font-family: 'OpenSans-Light_wgt200',Arial;
  font-size: 10.0pt;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Rectangle_22 span#rtr-s-Rectangle_22_0 {
  color: #434343;
  text-decoration: none;
  font-family: 'OpenSans-Light_wgt200',Arial;
  font-size: 10.0pt;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Image_1 {
  position: absolute;
  width: 24.0px;
  height: 17.6px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Image_5 {
  position: absolute;
  width: 24.0px;
  height: 17.6px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Image_7 {
  position: absolute;
  width: 24.0px;
  height: 17.6px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Rectangle_14 {
  position: absolute;
  width: 23.0px;
  min-height: 16.87px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Rectangle_14 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: rgba(173,171,171,0.29);
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: rgba(173,171,171,0.29);
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: rgba(173,171,171,0.29);
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: rgba(173,171,171,0.29);
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Rectangle_14 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Rectangle_14 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Rectangle_14 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Rectangle_14 span#rtr-s-Rectangle_14_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Path_16 {
  position: absolute;
  width: 8.941805839538574px;
  height: 6.989299297332764px;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Rectangle_15 {
  position: absolute;
  width: 23.0px;
  min-height: 16.87px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Rectangle_15 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: rgba(173,171,171,0.29);
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: rgba(173,171,171,0.29);
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: rgba(173,171,171,0.29);
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: rgba(173,171,171,0.29);
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Rectangle_15 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Rectangle_15 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Rectangle_15 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Rectangle_15 span#rtr-s-Rectangle_15_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Path_17 {
  position: absolute;
  width: 8.941805839538574px;
  height: 6.989299297332764px;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Rectangle_16 {
  position: absolute;
  width: 23.0px;
  min-height: 16.87px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Rectangle_16 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: rgba(173,171,171,0.29);
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: rgba(173,171,171,0.29);
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: rgba(173,171,171,0.29);
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: rgba(173,171,171,0.29);
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Rectangle_16 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Rectangle_16 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Rectangle_16 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Rectangle_16 span#rtr-s-Rectangle_16_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Path_18 {
  position: absolute;
  width: 8.941805839538574px;
  height: 6.989299297332764px;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Rectangle_17 {
  position: absolute;
  width: 23.0px;
  min-height: 16.87px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Rectangle_17 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: rgba(173,171,171,0.29);
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: rgba(173,171,171,0.29);
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: rgba(173,171,171,0.29);
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: rgba(173,171,171,0.29);
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Rectangle_17 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Rectangle_17 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Rectangle_17 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Rectangle_17 span#rtr-s-Rectangle_17_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Path_19 {
  position: absolute;
  width: 8.941805839538574px;
  height: 6.989299297332764px;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Path_4 {
  position: absolute;
  width: 14.712849617004395px;
  height: 2.003899574279785px;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Path_8 {
  position: absolute;
  width: 14.712849617004395px;
  height: 2.003899574279785px;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Paragraph_4 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Regular_wgt400',Arial;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Paragraph_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Paragraph_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Paragraph_4 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'OpenSans-Regular_wgt400',Arial;
  font-size: 9.0pt;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Image_2 {
  position: absolute;
  width: 24.0px;
  height: 17.6px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Rectangle_5 {
  position: absolute;
  width: 23.0px;
  min-height: 16.87px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Rectangle_5 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: rgba(173,171,171,0.29);
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: rgba(173,171,171,0.29);
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: rgba(173,171,171,0.29);
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: rgba(173,171,171,0.29);
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Rectangle_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Rectangle_5 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Path_9 {
  position: absolute;
  width: 8.941805839538574px;
  height: 6.989299297332764px;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Rectangle_6 {
  position: absolute;
  width: 23.0px;
  min-height: 16.87px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Rectangle_6 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: rgba(173,171,171,0.29);
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: rgba(173,171,171,0.29);
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: rgba(173,171,171,0.29);
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: rgba(173,171,171,0.29);
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Rectangle_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Rectangle_6 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Path_10 {
  position: absolute;
  width: 8.941805839538574px;
  height: 6.989299297332764px;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Rectangle_7 {
  position: absolute;
  width: 23.0px;
  min-height: 16.87px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Rectangle_7 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: rgba(173,171,171,0.29);
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: rgba(173,171,171,0.29);
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: rgba(173,171,171,0.29);
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: rgba(173,171,171,0.29);
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Rectangle_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Rectangle_7 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Path_11 {
  position: absolute;
  width: 8.941805839538574px;
  height: 6.989299297332764px;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Rectangle_24 {
  position: absolute;
  width: 51.356424331667085px;
  min-height: 28.99999999999966px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Light_wgt300',Arial;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Rectangle_24 > .backgroundLayer {
  border-top-left-radius: 1.0px;
  border-top-right-radius: 1.0px;
  border-bottom-right-radius: 1.0px;
  border-bottom-left-radius: 1.0px;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Rectangle_24 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Rectangle_24 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-top-left-radius: 1.0px;
  border-top-right-radius: 1.0px;
  border-bottom-right-radius: 1.0px;
  border-bottom-left-radius: 1.0px;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Rectangle_24 > .backgroundLayer {
  border-top-left-radius: 1.0px;
  border-top-right-radius: 1.0px;
  border-bottom-right-radius: 1.0px;
  border-bottom-left-radius: 1.0px;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Rectangle_24 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Rectangle_24 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Rectangle_24 span {
  color: #5D5D5D;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light_wgt300',Arial;
  font-size: 9.0pt;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Rectangle_24 span#rtr-s-Rectangle_24_0 {
  color: #5D5D5D;
  text-decoration: none;
  font-family: 'OpenSans-Light_wgt300',Arial;
  font-size: 9.0pt;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Rectangle_23 {
  position: absolute;
  width: 51.356424331667085px;
  min-height: 28.99999999999966px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'OpenSans-Light_wgt300',Arial;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Rectangle_23 > .backgroundLayer {
  border-top-left-radius: 1.0px;
  border-top-right-radius: 1.0px;
  border-bottom-right-radius: 1.0px;
  border-bottom-left-radius: 1.0px;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Rectangle_23 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Rectangle_23 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  border-top-left-radius: 1.0px;
  border-top-right-radius: 1.0px;
  border-bottom-right-radius: 1.0px;
  border-bottom-left-radius: 1.0px;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Rectangle_23 > .backgroundLayer {
  border-top-left-radius: 1.0px;
  border-top-right-radius: 1.0px;
  border-bottom-right-radius: 1.0px;
  border-bottom-left-radius: 1.0px;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Rectangle_23 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Rectangle_23 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Rectangle_23 span {
  color: #5D5D5D;
  text-align: left;
  text-decoration: none;
  font-family: 'OpenSans-Light_wgt300',Arial;
  font-size: 9.0pt;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Rectangle_23 span#rtr-s-Rectangle_23_0 {
  color: #5D5D5D;
  text-decoration: none;
  font-family: 'OpenSans-Light_wgt300',Arial;
  font-size: 9.0pt;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Path_27 {
  position: absolute;
  width: 15.591800689697266px;
  height: 8.982439994812012px;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Path_25 {
  position: absolute;
  width: 15.591800689697266px;
  height: 8.973640441894531px;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Hotspot_1 {
  position: absolute;
  width: 19.0px;
  height: 19.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Hotspot_2 {
  position: absolute;
  width: 19.0px;
  height: 19.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Hotspot_3 {
  position: absolute;
  width: 19.0px;
  height: 19.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Hotspot_4 {
  position: absolute;
  width: 19.0px;
  height: 19.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Hotspot_5 {
  position: absolute;
  width: 19.0px;
  height: 19.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Hotspot_6 {
  position: absolute;
  width: 19.0px;
  height: 19.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Hotspot_7 {
  position: absolute;
  width: 19.0px;
  height: 19.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Hotspot_8 {
  position: absolute;
  width: 19.0px;
  height: 19.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Hotspot_9 {
  position: absolute;
  width: 19.0px;
  height: 19.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Hotspot_10 {
  position: absolute;
  width: 19.0px;
  height: 19.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e #s-Hotspot_11 {
  position: absolute;
  width: 19.0px;
  height: 19.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-e43bf4f4-e153-4d56-ab60-098143e0182e > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}