@font-face {
  font-family: "OpenSans-Regular_wgt400";
  src: url("../fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"),
       url("../fonts/OpenSans-Regular.ttf")  format("truetype");
   font-weight : 400;
 
}
@font-face {
  font-family: "OpenSans-Light_wgt200";
  src: url("../fonts/OpenSans-Light.eot?#iefix") format("embedded-opentype"),
       url("../fonts/OpenSans-Light.ttf")  format("truetype");
   font-weight : 200;
 
}
@font-face {
  font-family: "Roboto-Regular_wgt400";
  src: url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Roboto-Regular.ttf")  format("truetype");
   font-weight : 400;
 
}
@font-face {
  font-family: "Roboto-Medium_wgt500";
  src: url("../fonts/Roboto-Medium.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Roboto-Medium.ttf")  format("truetype");
   font-weight : 500;
 
}
@font-face {
  font-family: "Roboto-Bold_wgt700";
  src: url("../fonts/Roboto-Bold.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Roboto-Bold.ttf")  format("truetype");
   font-weight : 700;
 
}
@font-face {
  font-family: "OpenSans-Light_wgt300";
  src: url("../fonts/OpenSans-Light.eot?#iefix") format("embedded-opentype"),
       url("../fonts/OpenSans-Light.ttf")  format("truetype");
   font-weight : 300;
 
}
@font-face {
  font-family: "Roboto-Light_wgt300";
  src: url("../fonts/Roboto-Light.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Roboto-Light.ttf")  format("truetype");
   font-weight : 300;
 
}