@{
    ViewData["Title"] = "Get It Done";
}

<div class="text-center mt-4">
    <h1 class="display-3">GeoNoted</h1>
    <p class="display-6">Give your brain a break. And get it all done</p>
</div>

<div class="text-center mt-4">
<img src="magic mushrooms round.png" alt="magic mushrooms" class="img-fluid">
</div>

<form class="container-fluid mt-4">
    <div class="mb-3 mt-4">
        <label for="UserRegisterDTO.Email" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    
    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1"> <a class="nav-link active" asp-controller="Home" asp-action="Privacy">I agree to the Privacy Policy</a></label>
        
    </div>
   
    <div class="d-grid gap-2">
        <button class="btn btn-primary" type="button" asp-controller="Auth" asp-action="Registration">Sign up</button>
        <button class="btn btn-primary" type="button">Log in</button>
    </div>
</form>


